#chessboard {
	display: block;
	/*margin: auto;*/
	margin: 15px auto;
	/*color: blue;*/
	/*background-color: #F5F5DC;*/
}

.rules {
	text-align: left;
}

#chessboard {
	max-width: 500px;
	width: 100%;
	height: auto;
	/*height: 100%;*/
	/*width: 500px;*/
	/*height: 500px;*/
}