#chessboard {
	display: block;
	/*margin: auto;*/
	margin: 0px 0px 0px auto;
	/*color: blue;*/
	/*background-color: #F5F5DC;*/
}

.game-settings {
	margin-top: 15%;
}

.content {
	height: 500px
}

.col-md-3 {
	height: 100%;
}

@media (max-width: 991px){
    #chessboard{
        margin: 0px auto;
    }
    .game-settings {
    	margin: 0px 10%;
    }
    .col-md-3 {
		height: auto;
	}
}



.rules {
	text-align: left;
}

#chessboard {
	max-width: 500px;
	width: 100%;
	/*height: auto;*/
	/*width: auto;*/
	/*height: 100%;*/
	/*width: 500px;*/
	/*height: 500px;*/
}

.btn {
	/*margin-bottom: 25px;*/
}

