.legend {
  text-align: center;
  line-height: 150%;
  margin: 10px 0 50px 0;
}

.legend-item {
  display: inline;
  margin: 0 8px;
}

 div.tooltip-election, div.tooltip-obese, div.tooltip-compare {   
  position: absolute;           
  text-align: center;           
  padding: 5px;             
  background: rgb(282, 282, 282);
  border: 1px solid black;      
  border-radius: 2px;           
  pointer-events: none;         
}

.foreword {
  text-align: left;
  font-size: 16px;
}

.read-this {
  font-weight: bold;
}

.small-text {
  font-size: 0.5em;
  vertical-align: middle;
}

.svg-obese, .svg-election, .svg-compare {
  display: block;
  margin: 0 auto;
}

.democrat, .less-obese, .democrat-and-less-obese { background: rgb(35,32,102);}
.republican, .more-obese, .republican-and-more-obese { background: rgb(239,29,14);}
.democrat-and-more-obese {background: purple;}
.republican-and-less-obese {background: orange;}

.change {
  text-align: center;
}

.square {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
}

.description {
  margin: 10px 0 30px 0;
}
