.svg {
  display: block;
  margin: 0 auto;
}

#years-to-display, #races-to-display {
  text-align: center;
}

.running-label {
  letter-spacing: 0.06em;
  font-size: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
}

.form-header {
  margin: 20px 0 10px 0;
}

.radio-inline{
  text-shadow: none;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  height: 20px;
  margin: 0px auto;
}

h4 {
  margin-bottom: 30px;
}

p.description {
  margin: 30px 0 30px 0;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 6px;             
  background: rgba(182, 182, 182, 0.6);   
  border: 1px solid rgba(5, 5, 5, 0.3);   
  border-radius: 2px;           
}

.tooltip-triangle {
  width: 0; 
  height: 0;  
}


/*.bottom-tip {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid rgba(182, 182, 182, 0.4);
  border-top: 0px solid transparent;
}

.top-tip {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid rgba(182, 182, 182, 0.4);
  border-bottom: 0px solid transparent;
}

.left-tip {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  

  border-left: 8px solid rgba(182, 182, 182, 0.4);
  border-right: 0px solid transparent;
}

.right-tip {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  

  border-right: 8px solid rgba(182, 182, 182, 0.4);
  border-left: 0px solid transparent;
}*/
