.running-label {
  font-weight: normal;
  letter-spacing: 0.06em;
  font-size: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 6px;             
  background: rgba(182, 182, 182, 0.6);   
  border: 1px solid rgba(5, 5, 5, 0.3);   
  border-radius: 2px;           
}

.tooltip-triangle {
  width: 0; 
  height: 0;  
}
