* {
  font-family: 'HelveticaNeue-Light', sans-serif;
}

html, body, .container {
  height: 100%;
}

h1, h2, h3, h4 {
  text-align: center;
}

.main {
  padding-bottom: 40px;
}

.footer {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.game-settings h4, .moves-display {
  text-align: center;
}

.game-settings {
  margin: auto 0px;
}

input[type="radio"] {
  margin: 0px 20px;
}

label {
  font-weight: normal;
}

.radio-control {
  display: block;
  font-weight: none;
}

.game-controls {
  text-align: center;
}

.description {
  font-size: 1.2em;
  text-align: center;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  height: 20px;
  margin: 0px auto;
}

.nav {
  border: 0px solid transparent;
}

body {
  padding-top: 60px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.delim-select {
	visibility: hidden;
	display: none;
	color: red;
}

svg {
  display: block;
  margin: auto;
}

.options {
  text-align: center;
  margin-top: 0px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 6px;             
  background: rgba(182, 182, 182, 0.4);   
  border: 1px solid rgba(5, 5, 5, 0.3);   
  border-radius: 2px;           
}

.project {
  max-height: 360px;
  max-width: 540px;
  margin: 50px 0;
  position: relative;
}

.project-row {
  width: 100%;
}

.project-col {
  /*border: 1px solid red;*/
  height: 100%;
}

.img-center {
  margin: auto;
}

/* https://codepen.io/felicia/pen/qKhJt?editors=1100 */
.project-overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  max-height: 360px;
  max-width: 540px;
  -webkit-transition: opacity .35s ease;
}

.project-overlay:hover {
  opacity: 1;
}

.overlay-text {
  color: #DDD;
  font-size: 20px;
  text-align: center;
  height: 100%;
  padding-top: 28%;
}
