* {
  font-family: 'HelveticaNeue-Light', sans-serif;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.description {
  font-size: 1.2em;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}

.nav {
  border: 0px solid transparent;
}

body {
  padding-top: 60px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

p {
	text-align: center;
}

.delim-select {
	visibility: hidden;
	display: none;
	color: red;
}

.d3-area {
  /*padding-top: 50px;*/
}

svg {
  display: block;
  margin: auto;
}

.options {
  text-align: center;
  margin-top: 0px;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 6px;             
  background: rgba(182, 182, 182, 0.4);   
  border: 1px solid rgba(5, 5, 5, 0.3);   
  border-radius: 2px;           
  /*pointer-events: none;         */
}
