* {
  font-family: 'HelveticaNeue-Light', sans-serif;
  margin: 0;
  padding: 0;
}

html, body, .container {
  height: 100%;
}

h1, h2, h3, h4 {
  text-align: center;
}

.row {
  width: 100%;
}

.main {
  padding-top: 40px;
}

.chess-container {
  height: 100%;
  margin-bottom: 40px;
}

.navbar {
  margin-bottom: 0;
}

.footer {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.index-container {
  position: relative;
}

.project-row {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.game-settings h4, .moves-display {
  text-align: center;
}

.game-settings {
  margin: auto 0px;
}

input[type="radio"] {
  margin: 0px 20px;
}

label {
  font-weight: normal;
}

.radio-control {
  display: block;
  font-weight: none;
}

.game-controls {
  text-align: center;
}

.description {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  height: 20px;
  margin: 0px auto;
}

.nav {
  border: 0px solid transparent;
  height: 50px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.delim-select {
	visibility: hidden;
	display: none;
	color: red;
}

.svg, .svg-fat, .svg-election, .svg-compare {
  display: block;
  margin: 0 auto;
}

.options {
  text-align: center;
  margin-top: 0px;
}

path:hover {
  fill-opacity: .7;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 6px;             
  background: rgba(182, 182, 182, 0.6);   
  border: 1px solid rgba(5, 5, 5, 0.3);   
  border-radius: 2px;           
}

 div.tooltip-election, div.tooltip-fat, div.tooltip-compare{   
  position: absolute;           
  text-align: center;           
  padding: 5px;             
  background: rgb(282, 282, 282);
  border: 1px solid black;      
  border-radius: 2px;           
  pointer-events: none;         
}

.tooltip-triangle {
  width: 0; 
  height: 0;  
}

.legend {
  text-align: center;
  margin: 10px 0 50px 0;
}

.legend-item {
  display: inline;
  margin: 0 8px;
}

.square {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.democrat, .not-diabetic, .democrat-and-not-diabetic { background: rgb(35,32,102);}
.republican, .diabetic, .republican-and-diabetic { background: rgb(239,29,14);}
.democrat-and-diabetic {background: purple;}
.republican-and-not-diabetic {background: orange;}

/*.bottom-tip {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid rgba(182, 182, 182, 0.4);
  border-top: 0px solid transparent;
}

.top-tip {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid rgba(182, 182, 182, 0.4);
  border-bottom: 0px solid transparent;
}

.left-tip {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  

  border-left: 8px solid rgba(182, 182, 182, 0.4);
  border-right: 0px solid transparent;
}

.right-tip {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  

  border-right: 8px solid rgba(182, 182, 182, 0.4);
  border-left: 0px solid transparent;
}*/

.project {
  text-align: center;
  max-height: 360px;
  max-width: 540px;
  margin: 50px 0;
  position: relative;
}

@media (max-width: 767px) {
  .project {
    margin: 50px auto;
  }
}

.img-center {
  margin: auto;
}

/* https://codepen.io/felicia/pen/qKhJt?editors=1100 */
.project-overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  max-height: 360px;
  max-width: 540px;
  -webkit-transition: opacity .35s ease;
}

.project-overlay:hover {
  opacity: 1;
}

.overlay-text {
  color: #EEE;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  height: 100%;
  padding-top: 28%;
}

